body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-card {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.todo-card h3 {
  display: flex;
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  justify-content: center;
}

.todo-card textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}
.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  width: 100%;
}
.todo-card button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-card button.edit {
  background-color: #007bff;
  color: #fff;
}

.todo-card button.delete {
  background-color: #dc3545;
  color: #fff;
}

.color-picker {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.color-change {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
}

.color-options {
  position: absolute;
  top: 30px;
  right: 0;
  display: none;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.color-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
  border: 2px solid transparent;
  transition: transform 0.3s ease;
}

.color-option:hover {
  transform: scale(1.1);
}
